.introduction_container {
    display: flex;
    justify-content: space-between;
    /* border: 2px red solid; */
    margin: 5rem 8rem;
}

.introduction-background {
    position: absolute;
    width: 131.58px;
    height: 115px;
    top: 130px;
    left: -5px;
    opacity: 70%;
}

.introduction-texts {
    padding-right: 2rem;
    width: 40%;
    /* border: 2px purple solid; */
}

.introduction-image {
    padding-left: 2rem;
    width: auto;
    /* border: 2px red solid; */


}
.introduction-texts > h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--color-black);
}

.introduction-texts > p {
    margin-top: 2rem;
}

.introduction-texts > button {
    margin-top: 2rem;
    color: var(--color-white);
    background-color: var(--color-blue);
}

@media screen and (max-width: 1150px) {
    .introduction_container {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    .introduction-texts {
        /* border: 2px purple solid; */
        width: 100%;
        margin-bottom: 2rem;
    }

    .introduction-image{
        width: 100%;
        height: 25rem;
        /* border: 2px goldenrod solid; */
    }

    .introduction-image > img {
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    .introduction_container {
        /* border: red 2px solid; */
        flex-direction: column;
        position: relative;
        margin: 4rem 2rem;
    }

    .introduction-background {
        /* border: 2px purple solid; */
        top: -70px;
        left: -40px;
    }

    .introduction-texts{
        margin-bottom: 5rem;
        /* border: 2px solid purple; */
        height: auto;
    }

    .introduction-image {
        /* border: red 2px solid; */
        height: 100%;

    }
    }