.aboutus_container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
}

.aboutus-image {
    display: flex;
    width: 650px;
    height: 477px;

}

.aboutus-text {
    margin-left: 2rem;
}

.aboutus-button {
    margin-top: 1.5rem;
    color: var(--color-blue);
}

@media screen and (max-width: 650px) {
    .aboutus_container {
        flex-direction: column;
    }

    .aboutus-image {
        width: fit-content;
        height: 350px;
        margin-bottom: 3rem;
        border: 2px red solid;

    }

    .aboutus-image > img {
        width: 400px;
    }
}