.aboutus_container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
}

.aboutus-image {
    display: flex;
    width: 650px;
    height: 477px;

}

.aboutus-text {
    margin-left: 2rem;
}

.aboutus-button {
    margin-top: 1.5rem;
    color: var(--color-blue);
}

@media screen and (max-width: 1150px) {
    .aboutus_container {
        flex-direction: column;
        width: auto;
        margin: 6rem 0 0 0;
    }

    .aboutus-image {
        width: 80%;
    }

    .aboutus-image > img {
        width: 100%;
    }

    .aboutus-text {
        margin-top: 2rem;
        margin-left: 0px;
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .aboutus_container {
        margin: 3rem 0;
    }
    .aboutus-image {
        width: auto;
        height: auto;
        margin: 2rem;
    }
}