.publications_container {
    margin: 5rem 0 2rem 0;
}

.publications-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 8rem;
}

.publications-title {
    margin: 2rem 0 1rem 0;
}

.publications-dot-design {
    position: absolute;
    width: 150px;
    height: 115px;
    top: 4090px;
    left: 91px;
    opacity: 90%;
    z-index: 1;
}

.publications-dot-design > img {
    width: 150px;
    height: 115px;
}

.publications-img-design {
    position: absolute;
    width: 370px;
    height: 500px;
    top: 4100px;
    right: 0px;
    opacity: 90%;
    z-index: 2;
}

.publications-img-design > img {
    width: 370px;
    height: 500px;
}

.publications-button {
    margin-top: 2rem;
    color: var(--color-blue);
    background-color: var(--color-white);
}

@media screen and (max-width: 1150px) {
    .publications-dot-design {
        display: none;
    }

    .publications-img-design {
        top: 5580px;
    }
}

@media screen and (max-width: 650px) {
    .publications-holder {
        width: auto;
        margin: 0 2rem;
    }

    .publications-holder > h2 {
        margin-bottom: 2rem;
        text-align: center;
        width: auto;
    }
}