.mobileapp_container {
    margin-top: 6rem;
    margin-bottom: 6rem;

}
.mobileapp-image {
    margin-left: 2rem;
    width: 650px;
    height: 450px;
    
}

.mobileapp-text {
    margin-left: 2rem;
}

.mobileapp-button {
    margin-top: 2rem;
    color: var(--color-blue);
}