.mobileapp_container {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.mobileapp-image {
    margin-left: 2rem;
    width: auto;
    height: 450px;
}

.mobileapp-text {
    margin-left: 2rem;
}

.mobileapp-button {
    margin-top: 2rem;
    color: var(--color-blue);
}

@media screen and (max-width: 1150px){
    .mobileapp_container {
        flex-direction: column;
        width: auto;
        margin: 1rem 0 0 0;
    }

    .mobileapp-image {
        width: 80%;
    }

    .mobileapp-image > img {
        width: 100%;
    }

    .mobileapp-text {
        margin-top: 2rem;
        margin-left: 0px;
        width: 80%;

    }
}
@media screen and (max-width: 650px) {
    .mobileapp_container {
        margin: 2rem 0px;
    }

    .mobileapp-image {
        width: auto;
        height: auto;
        margin: 2rem;

    }

    .mobileapp-text  {
        height: auto;
    }
}