.navbar {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.navbar-logo {
    display: flex;
    width: 160px;
    height: 41px;
}

nav {
    width: 545px;
    height: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font: var(--font-base);
}

a{
    color: #1F1534;
    font-weight: 400px;
}

a:hover{
    font-weight: 700px;
    font-size: 18px;
    line-height: 22.59px;
}

