.footer_container {
    display: flex;
    background-color: var(--color-blue-gra);
    margin-top: 10rem;
    z-index: 15;
    height: 30rem;
    /* border: 2px red solid; */
}

.footer-section-a {
    width: 50%;
    margin: 3rem 3rem 3rem 5rem;
    height: fit-content;
}

 .footer-section-b, .footer-section-c, .footer-section-d {
    display: flex;
    flex-direction: column;
    margin: 4rem 3rem 3rem 3rem ;
    width: 30%;
    height: auto;
    /* border: 2px red solid; */
}

.footer-section-a > p {
    color: var(--color-white);
    margin-top: 2rem;
}

.footer-section-a > img {
    width: 60%;
    height: 20%;
}


.footer-section-b, .footer-section-c, .footer-section-d {
    color: var(--color-white);
    
}

.footer-section-b a, .footer-section-c a, .footer-section-d a {
    color: var(--color-white);
    margin: 0.7rem 0;
    cursor: pointer;
}

.footer_bgd-imgA {
    position: absolute;
    /* border: 2px red solid; */
    /* width: 130px;
    height: 115px; */
    top: 5330px;
    left: -30px;
    opacity: 90%;
    z-index: 20;
}

.footer_bgd-imgA > img {
    height: 100px;
    width: 115px;
}

.footer_bgd-imgB {
    position: absolute;
    /* border: 2px purple solid; */
    /* width: 130px;
    height: 115px; */
    top: 4882px;
    right: 60px;
    opacity: 100%;
    z-index: 1;
}

.footer_bgd-imgB > img {
    width: 100px;
    height: 115px;
}

@media screen and (max-width: 1150px){
    .footer_container {
        height: auto;
    }
    
    .footer-section-a {
        margin-left: 2rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .footer_container {
        flex-direction: column;
    }

    .footer-section-b, .footer-section-c, .footer-section-d {
        /* border: 2px black solid; */
        margin-top: 1rem;
    }
}