.footer_container {
    display: flex;
    background-color: var(--color-blue-gra);
    margin-top: 10rem;
}

.footer-section-a, .footer-section-b, .footer-section-c, .footer-section-d {
    display: flex;
    flex-direction: column;
    margin: 5rem ;
    /* border: 2px red solid; */
}

.footer-section-a > p {
    color: var(--color-white);
    margin-top: 1rem;
}

.footer-section-a > img {
    width: 100%;
    height: 20%;
}


.footer-section-b, .footer-section-c, .footer-section-d {
    color: var(--color-white);
    
}

.footer-section-b a, .footer-section-c a, .footer-section-d a {
    color: var(--color-white);
    margin: 0.3rem 0;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .footer_container {
        flex-direction: column;
    }

    .footer-section-b {
        border: 2px black solid;
    }
}