.testimonials_container{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    z-index: 20;
}

.testimonials_main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--color-blue-gra);
    color: var(--color-white);
    z-index: 3;
}

.testimonials-divider div {
    background-color: var(--color-white);
}

.founder {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 5rem 3rem 5rem;
}

.founder_image > img {
    border-radius: 50%;
    border: 2px white solid;

}

.founder-details {
    margin: 1rem 2rem;
    width: 25rem;
    align-items: center;
    align-content: center;
}

.edward{
    display: flex;
    flex-wrap: wrap;
    width: 184px;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
}

.testimonial {
    width: 50%;
}
.founder-words{
    color: var(--color-white);
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
}
.founder-title{
    color: var(--color-white);
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    width: auto;
}

.testimonials_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    padding-top: 3rem;
}

.testimonials_pointer {
    margin-top: 2rem;
    color: var(--color-blue);
}

.pointer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 20rem;
    height: 3rem;
}

.testimonials_bgd-imgA {
    position: absolute;
    top: 3650px;
    left: 55px;
    opacity: 90%;
    z-index: 1;
}

.testimonials_bgd-imgA > img {
    width: 100px;
    height: 115px;
}

.testimonials_bgd-imgB {
    position: absolute;
    top: 3350px;
    right: 138px;
    opacity: 100%;
    z-index: 40;
}

.testimonials_bgd-imgB > img {
    width: 100px;
    height: 115px;
}

@media screen and (max-width: 1150px) {
    .testimonials_container {
        margin: 5rem 0px;
        width: auto;
    }

    .founder {
        flex-direction: column;
        align-items: center;
    }

    .founder-details {
        width: auto;
        margin: 2rem 0;
    }

    .testimonial {
        width: auto;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {

    .testimonials_main_content {
        width: 100%;
    }

    .testimonials_title {
        text-align: center;
    }

    .founder_image {
        margin: 1.5rem 0;
    }

}