*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  /* scroll-behavior:smooth; */
  font-family: var(--font-base);
  
}

.trafalgar_app {
  /* margin: 0 8rem; */
  overflow: hidden;
}


body{
  background: #fff;
}

a{
  color: unset;
  text-decoration: none;
}

button {
  height: 60px;
  width: 200px;
  border-radius: 55px;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  background-color: var(--color-white);
  border: 2px solid var(--color-blue);
  cursor: pointer;
}

button:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

p {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: var(--color-gray);
}

.section__container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  /* margin: 2rem 10rem; */
}

.section_margin {
  margin: 0 8rem;
}

.section__texts {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 338px;
}

.section__image {
    display: flex;
    width: 693px;
    height: 598px;
}

.section__padding {
  margin: 2rem 8rem;
}


/* @media screen and (max-width:700px) {
  .section__padding {
      padding: 3rem;
  }
  .section__margin{
      margin: 3rem;
  }
} */

@media screen and (max-width:650px) {
  .section_margin {
    margin: 0 2rem;
  }
}